---
layout: main
title: Bawdy Caste Admin Team
sitemap: false
---
<div class="row">
    <div class="col">
        <h1 class="text-center df display-2" style="text-shadow: 4px 4px white;">{{page.title}}</h1>
    </div>
</div>

<div class="row row-cols-1 row-cols-lg-2">
    {% for admin in site.data.adminteam %}
    <div class="col p-3 {% if admin.name == "[none]" %}d-none{%endif%}">
        <div class="row bg-dark text-light border border-3 border-secondary p-1 rounded">
            <div class="col col-4">
                <img src="{{admin.photo}}" alt="{{admin.name}}" class="img-fluid">
            </div>
            <div class="col col-8">
                <h4 class="card-title">{{admin.name}}&nbsp;<span class="fw-normal text-muted">{{admin.pronouns}}</span></h4>
                <h5>{{admin.position}}</h5>
                <p><a href="mailto:{{admin.email}}" class="link-danger fw-bold">{{admin.email}}</a></p>
                <p>{{admin.description}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>