---
layout: default
show_date: 2022-07-30
time_doors: "23:00:00"
time_preshow: "23:30:00"
time_show: "MIDNIGHT"
fb_link: 'https://fb.me/e/1w30MckTg'
ticket_link: 'https://ticketing.uswest.veezi.com/purchase/7271?siteToken=52wkfzmjpwjjfpz3ye7tz8wscg'
---

<header class="header text-center text-light p-1">
    <h1 style="font-size: 2.7rem;" class="fofbb">
        <span class="ss" style="font-size: 3rem; text-transform: uppercase;text-rendering: optimizeLegibility;">Bawdy Caste</span> presents: <br>
        <span class="df text-red" style="text-shadow: 4px 4px white;">THE ROCKY HORROR PICTURE SHOW</span>
    </h1>
</header>

<div class="row text-center">
    <div class="col col-5  my-auto mx-auto">
        <img class="img-fluid" src="https://storage.googleapis.com/cdn.bawdycaste.com/images/RHPSLogo_LipsFrank.png" alt="">
    </div>
    <div class="col col-5 my-auto mx-auto">
        <img class="w-100" src="https://storage.googleapis.com/cdn.bawdycaste.com/images/balboa.png" alt="balboa theatre logo, a sylizing drawing of the buildings marquee">
    </div>
</div>

<div class="row row-cols-1 text-center mb-2 mb-lg-0 p-3 m-0">
    <div class="col bg-dark border border-4 border-light rounded p-1 text-center">
        <h2 class="f13">the cult classic movie with full <u>audience participation</u> experience!<br></h2>
        <div class="alert alert-dark text-uppercase fofbb">
            <h2 class="alert-heading">
                <div class="row align-items-center">
                    <div class="col fs-1">&#128567;</div>
                    <div class="col text-nowrap">mask required <br class="d-md-none">for everyone</div>
                    <div class="col fs-1">&#128567;</div>
                </div>
            </h2>
        </div>
        <h2 class="fs-2 mb-4 f13">Our Next Show is <br class="d-lg-none">
            <span class="df display-4 text-light" style="-webkit-text-stroke: 3px black;text-rendering: optimizeLegibility;">{{ page.show_date | date: "%a %b %e, %Y" }}</span>
            <br class="d-lg-none">at the <br class="d-lg-none">
            <a target="_blank" rel="noopener noreferrer" class="link-light TBL display-4" href="https://balboamovies.com">Balboa Theatre</a></h2>
        <div class="row align-items-center">
            <div class="col">
                <table class="table text-light table-borderless table-sm fofbb text-red text-nowrap table-responsive fs-2">
                    <tr>
                        <td class="text-end">Doors @</td>
                        <td>{{page.time_doors | date: "%I:%M %p"}}</td>
                    </tr>
                    <tr>
                        <td class="text-end">Preshow @</td>
                        <td>{{page.time_preshow | date: "%I:%M %p"}}</td>
                    </tr>
                    <tr>
                        <td class="text-end">Movie @</td>
                        <td>{{page.time_show}}</td>
                </table>
            </div>
            <div class="col">
                <a target="_blank" rel="noopener noreferrer" class="btn btn-lg btn-danger f13 m-1 {% if page.ticket_link == !blank %}disabled{% endif %}" href="{{page.ticket_link}}">tickets</a>
                <a target="_blank" rel="noopener noreferrer" class="btn btn-lg btn-primary f13 m-1 {% if page.fb_link == !blank %}disabled{% endif %}" href="{{page.fb_link}}">FB Event</a>
            </div>
        </div>
    </div>
</div>

<div class="row my-3">
    <div class="col text-center rounded align-self-center">
        <p class="text-nowrap fofbb p-0 m-0" style="text-shadow: 1px 1px 2px black;">It's a lot like <span style="filter: blur(2px);">sex</span>: if you don't participate, you can't <span class="DF text-bold">come!</span></p>
        <p class="m-0 p-0 fofbb small text-black" style="opacity: 0.33;">that's not true... but it should be</p>
    </div>
</div>

<div class="row">
    <div class="col col-10 col-lg-4 mb-3 p-0 mx-auto">
        <img class="w-100 rounded" src="https://storage.googleapis.com/bawdycaste/images/golden-gate-frank.png" alt="balboa theatre logo, a sylizing drawing of the buildings marquee">
    </div>
</div>
