---
layout: default
show_date: 2022-08-27
time_doors: "23:00:00"
time_preshow: "23:30:00"
time_show: "MIDNIGHT"
fb_link: "https://fb.me/e/1R8cwHa6s"
ticket_link: "https://ticketing.uswest.veezi.com/purchase/7527?siteToken=52wkfzmjpwjjfpz3ye7tz8wscg"
---

<header class="header text-center text-light p-1">
  <h1 style="font-size: 2.45rem" class="fofbb">
    <span
      class="ss"
      style="
        font-size: 3rem;
        text-transform: uppercase;
        text-rendering: optimizeLegibility;
      "
      >Bawdy Caste</span
    >
    presents: <br />
    <span class="df text-red" style="text-shadow: 4px 4px white"
      >THE ROCKY HORROR PICTURE SHOW</span
    >
  </h1>
</header>

<div class="row text-center">
  <div class="col col-2 my-auto mx-auto">
    <img
      class="img-fluid"
      src="https://storage.googleapis.com/cdn.bawdycaste.com/images/RHPSLogo_LipsFrank.png"
      alt=""
    />
  </div>
  <div class="col col-5 my-auto mx-auto d-none">
    <img
      class="w-100"
      src="https://storage.googleapis.com/cdn.bawdycaste.com/images/balboa.png"
      alt="balboa theatre logo, a stylizing drawing of the buildings marquee"
    />
  </div>
</div>

<div class="row">
    <div class="col text-center">
        <h2 class="f13" style="text-shadow:1px 1px 1px black">
            the cult classic movie with full
            <u>audience participation</u> experience!<br />
          </h2>
    </div>
</div>

<div class="row">

  <div class="col col-12">
    <div class="alert alert-secondary text-uppercase fofbb">
      <h2 class="alert-heading">
        <div class="row align-items-center justify-content-center text-center w-100">
          <div class="col fs-2">&#128567;</div>
          <div class="col text-center">
            mask required <br class="d-md-none" />for everyone
          </div>
          <div class="col fs-2">&#128567;</div>
        </div>
      </h2>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3  g-2 align-items-center justify-content-evenly">

  {% for show in site.data.october22 %}
  <div id="{{show.uuid}}" class="col">
    <div class="alert alert-dark border border-4 border-dark p-1">
      <h2 class="alert-header text-center fw-bold">{{show.date | date: "%a %b %d, %Y"}}</h2>
      <!-- <p class="lead">{{show.title}}</p> -->
      <h3 class="text-center"><a href="{{show.link.venue}}" class="text-uppercase fw-bold link-danger" target="_blank">{{show.venue}}</a></h3>
      <p class="text-center">
        <span>{{show.location}}</span>
        <br>
        <span>{{show.time}}</span> <span class="badge bg-dark">{{show.io}}</span>
      </p>
      <p class="btn-group w-100 mb-0">
          <a href="{{show.link.ticket}}" class="btn btn-danger {% if show.link.ticket == blank? %}disabled{%endif%}">tickets</a>
          <a href="{{show.link.fb}}" class="btn btn-secondary {% if show.link.fb == blank? %}disabled{%endif%}">fb event</a>
        </p>
        <p class="text-center df fs-4 my-0">{{show.special}}</p>
    </div>
  </div>
  {% endfor %}
</div>

<div class="row my-3">
  <div class="col text-center rounded align-self-center">
    <p class="text-nowrap fofbb p-0 m-0" style="text-shadow: 1px 1px 2px black">
      It's a lot like <span style="filter: blur(2px)">sex</span>: if you don't
      participate, you can't <span class="DF text-bold">come!</span>
    </p>
    <p class="m-0 p-0 fofbb small text-black" style="opacity: 0.33">
      that's not true... but it should be
    </p>
  </div>
</div>

<div class="row">
  <div class="col col-10 col-lg-4 mb-3 p-0 mx-auto">
    <img
      class="w-100 rounded"
      src="https://storage.googleapis.com/bawdycaste/images/golden-gate-frank.png"
      alt="balboa theatre logo, a sylizing drawing of the buildings marquee"
    />
  </div>
</div>
