<div class="col col-12 col-md-6">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title text-black font-doublefeature"><span class="text-danger">ROCKY</span>TOBER SCHEDULE</h3>
      <ul class="lead">
        <li>Oct. 12: Opera Plaza, San Francisco (10pm)</li>
        <li>Oct. 18-19: Greater Nevada Field, Reno (1 show each night)</li>
        <li>Oct. 25: Guild Theatre, Menlo Park (2 shows)</li>
        <li>Oct. 26: Balboa (MIDNIGHT)</li>
        <li>Oct. 31: HALLOWEEN Balboa (10pm)</li>
      </ul>
    </div>
  </div>
</div>