<footer class="footer mt-auto">
    <div class="row my-2 text-center">
        <div class="col social">
            <a target="_blank " rel="noopener noreferrer" href="https://instagram.com/bawdycaste " title="instagram"><i class="fa fa-lg fa-instagram"></i></a>
            <a target="_blank " rel="noopener noreferrer" href="https://twitter.com/bawdycaste " title="twitter"><i class="fa fa-lg fa-twitter invisible"></i></a>
            <a target="_blank " rel="noopener noreferrer" href="https://facebook.com/bawdycaste " title="facebook"><i class="fa fa-lg fa-facebook"></i></a>
        </div>
    </div>
    <div class="fofbb text-center mt-3 h5" style="line-height: 95%;">info@bawdycaste.com<br>+ 1 4 1 5 4 0 7 9 1 6 3</div>
</footer>
