<footer class="footer mt-auto">
    <div class="row my-2 text-center">
        <div class="col social">
            <a target="_blank" rel="noopener noreferrer" href="https://instagram.com/bawdycaste" title="instagram"><i class="bi bi-lg bi-instagram"></i></a>
        </div>
        <div class="col social">
            <a target="_blank" rel="noopener noreferrer" href="https://facebook.com/bawdycaste" title="facebook"><i class="bi bi-lg bi-facebook"></i></a>
        </div>
        <div class="col social">
            <a target="_blank " rel="noopener noreferrer" href="https://patreon.com/bawdycaste" title="patreon"><img src="https://imagedelivery.net/tnNZckn1-G2Rt-WMSjLbNw/6700a5ce-c296-4d9d-86fb-33ebd8788600/public" alt="" width="30px"></a>
        </div>
        <div class="col social">
            <a target="_blank " rel="noopener noreferrer" href="https://github.com/bawdycaste" title="github"><i class="bi bi-lg bi-github"></i></a>
        </div>
    </div>
    <div class="row my-5 pb-5 g-2 row-cols-1 row-cols-md-2">
        <div class="col text-light text-center">
            <p class="small">Bawdy Caste&trade; is a nonprofit unincorporated association pursuant to CA CORP Code S21300, and a non profit public charity as defined under IRC Section 501c3. EIN 92-2281323</p>
            <p class="small">&copy; 2024 Bawdy Caste. All rights reserved.</p>
            <p class="small">"Bawdy Caste", "The Bawdy Caste", and "bawdycaste" are trademarks of Bawdy Caste &trade;.</p>
        </div>
        <div class="col">
            <div class="fofbb text-center mb-3 h5" style="line-height: 95%;"><a href="mailto:info@bawdycaste.com" class="btn btn-outline-dark">info@bawdycaste.com</a></div>
            <address class="text-center small text-light">BAWDY CASTE<br>PO Box 425546<br>San Francisco, CA 94142</address>
        </div>
    </div>
    
    
    
</footer>