<footer class="footer mt-auto">
    <div class="row my-2 text-center">
        <div class="col social">
            <a target="_blank " rel="noopener noreferrer" href="https://instagram.com/bawdycaste" title="instagram"><i class="fa fa-lg fa-instagram"></i></a>
            <a target="_blank " rel="noopener noreferrer" href="https://twitter.com/bawdycaste" title="twitter"><i class="fa fa-lg fa-twitter invisible"></i></a>
            <a target="_blank " rel="noopener noreferrer" href="https://facebook.com/bawdycaste" title="facebook"><i class="fa fa-lg fa-facebook"></i></a>
            <a target="_blank " rel="noopener noreferrer" href="https://patreon.com/bawdycaste" title="patreon"><img src="https://imagedelivery.net/tnNZckn1-G2Rt-WMSjLbNw/09cd5379-7f3b-4355-e364-34b04f04bd00/public" alt="" width="30px"></a>
        </div>
    </div>
    <div class="fofbb text-center mt-3 h5" style="line-height: 95%;">info@bawdycaste.com<br>+ 1 4 1 5 4 0 7 9 1 6 3</div>
    <p class="small text-muted text-center">Bawdy Caste in a nonprofit unincorporated association pursuant to CA CORP Code S21300, and a nonprofit public charity as defined under IRC Section 501c3. EIN 92-2281323</p>
</footer>