<nav class="navbar navbar-dark navbar-expand-md sticky-top glass-panel mb-4" role="navigation"
    style="border-bottom: 2px solid var(--primary-blood);">
    <div class="container-fluid">
        <a href="/" class="navbar-brand text-neon font-header d-md-none text-nowrap"
            style="font-size: 1.2rem; color: var(--primary-blood);">The Bawdy Caste</a>
        <a href="/" class="navbar-brand text-neon font-header d-none d-md-inline display-6"
            style="font-size: 2rem; color: var(--primary-blood);">The Bawdy Caste</a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_content"
            aria-controls="navbar_content" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbar_content" class="collapse navbar-collapse">
            <ul class="navbar-nav text-end ms-auto align-items-center">
                <li class="nav-item"><a class="nav-link text-uppercase font-limelight tracking-widest hover-glow"
                        href="/about">about</a></li>
                <li class="nav-item"><a class="nav-link text-uppercase font-limelight tracking-widest hover-glow"
                        href="/join">join</a></li>
                <li class="nav-item"><a class="nav-link text-uppercase font-limelight tracking-widest hover-glow"
                        href="/shows">shows</a></li>
                <li class="nav-item"><a class="nav-link text-uppercase font-limelight tracking-widest hover-glow"
                        href="/giving">donate</a></li>
                <li class="nav-item"><a class="nav-link text-uppercase font-limelight tracking-widest hover-glow"
                        target="_blank" rel="noopener noreferrer" href="https://bawdycaste.printful.me/">merch</a></li>
                <li class="nav-item"><a
                        class="btn btn-outline-danger btn-sm text-uppercase font-limelight ms-lg-3 text-neon"
                        href="https://storage.googleapis.com/bawdycaste/2024-bawdycaste-presskit.pdf" target="_blank"
                        rel="noopener noreferrer">presskit</a></li>
            </ul>
        </div>
    </div>
</nav>