<nav class="navbar navbar-dark navbar-expand-sm" role="navigation">
    <div class="container-fluid">
        <a href="/" class="fofbb navbar-brand" style="font-size: 2rem;">Bawdy Caste</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_content"
        aria-controls="navbar_content" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <div id="navbar_content" class="collapse navbar-collapse">
            <ul class="navbar-nav text-end ms-auto">
                <li class="nav-item"><a class="nav-link text-uppercase" href="/join">join</a></li>
                <li class="nav-item"><a class="nav-link text-uppercase" href="/shows">shows</a></li>
                <li class="nav-item"><a class="nav-link text-uppercase" href="/lebowski">lebowski</a></li>
                <li class="nav-item"><a class="nav-link text-uppercase" href="/adminteam">admin team</a></li>
            </ul>
        </div> -->
    </div>
</nav>