---
---

$red: #C80A0A;

@use "bootstrap" with (
    $red: $red
);

html, body {width: 100vw!important; overflow-x: hidden!important} 

body {
    color: $red;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

.bisexual-lighting {
    background-color:grey;
    background-image: linear-gradient(to left, rgba(200, 10, 10, 0.759), rgba(43, 36, 108, 0.866));
    background-size: cover;
    background-position: center;
}

.text-red{color: rgba(200, 10, 10, 0.97) !important;}
.text-navy{color: rgba(33, 0, 153, 0.97) !important;}
.link-red{color: rgba(200, 10, 10, 0.97) !important;}
.text-rainbow {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.text-rainbow-2{
    background-image: 
      linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    animation: move 1000s linear infinite;
}
@keyframes move {to {background-position: 4500vh;}}

.text-shadow{text-shadow: 2px 2px 10px black;}

.social a {
    font-size: 1.69em;
    margin: auto 6%;
    color: white;
    text-decoration: none;
}

.text-black {color: black}

hr.style-eight {
    overflow: visible;
    /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

hr.style-eight:after {
    content: "ยง";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

.last-saturday{
     -webkit-text-fill-color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: .6px;
    -webkit-text-stroke-color: whitesmoke;
}

#reveal{display:none;}
#reveal:target{display:flex;}

.april-fools {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, #ff007b, #6d00c2);
  filter: url(#grunge-filter);
}

// Fonts and Shit

.font-special-elite {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}
.font-limelight {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: "f13";
    src: url("/assets/fonts/F13.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "DF";
    src: url("/assets/fonts/DF.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "sbitn";
    src: url("/assets/fonts/SBITN.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "fofbb";
    src: url("/assets/fonts/FOFBB.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "TBL";
    src: url("/assets/fonts/TBL.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "TBL_1";
    src: url("/assets/fonts/TBL_1.TTF") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "ss";
    src: url("/assets/fonts/SS.ttf") format("truetype");
    font-display: swap;
}

.fofbb{font-family: "fofbb";}
.ss {font-family: "ss";}
.f13 {font-family: "f13";}
.df {font-family: "DF";}
.font-doublefeature {font-family: "DF";}
.sbitn {font-family: "sbitn";}
.font-tbl{font-family: "TBL";z-index: 2;}
.font-tbl02{font-family: "TBL_1";z-index: 2;}
.font-hl{font-family: 'Atkinson Hyperlegible', sans-serif;}
.font-fofbb{font-family: "fofbb";}
.TBL {font-family: "TBL";z-index: 2;}
.TBL_1 {font-family: "TBL_1";z-index: 2;}

