---
layout: default
---
<body class="d-flex flex-column h-100 bisexual-lighting" style="min-height:fit-content;">
    <div class="container-fluid">
        {% include nav.html %}
    
        {{content}}
    
    </div>
        
    
        <script src="https://email.tl.fortawesome.com/c/eJxNjUEOwiAURE9TluQD5QMLFlXbe1DAUNNKUzCNtxddmZnV5OVNsCFiiIoslgNT8A1IIzg1AqWgo9HsepsMDuaiR6W7HupK7_mo7owlb5H6vJFkZ2TRIPZc9o4hSgTBlACvFAPjoiarTbXupRNDx6fWV4lN8_zXtNV4p8FLLjl9FHJYn46l1LyneLTn2Z3h7V2pP_wDAVU3xg "></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    
        <script type="application/ld+json ">
            {
                "@context ": "https://schema.org ",
                "@type ": "Organization ",
                "@id ": "https://bawdycaste.com ",
                "url ": "https://bawdycaste.com ",
                "name ": "The Bawdy Caste ",
                "contactPoint ": {
                    "@type ": "ContactPoint ",
                    "telephone ": "+1-650-762-5921",
                    "contactType ": "Show and Booking Information "
                }
            }
        </script>
    
    </body>