---
layout: main
sitemap: false
---
<div class="container-fluid p-3 text-dark bg-light rounded border border-dark border-3 mb-2">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="link-danger" href="/shows">shows</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{page.date | date: "%v"}} - {{page.theater}} - {{page.movie}}</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
        <div id="reveal" class="btn-group">
          <a class="btn btn-outline-primary {% if page.photos == blank? %}disabled{% endif %}" href="{{page.photos}}" target="_blank">Photos</a>
          <a class="btn btn-outline-dark {% if page.video == blank? %}disabled{% endif %}" href="{{page.video}}" target="_blank">Video</a>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col">{{ content }}</div>
  </div>
</div>